<%= simple_form_for @booking, data: {controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper'} do |f| %>
    
   <p> Flight Number: <%= @flight.id %> </p>
   <p> Flight Date: <%= @flight.date %> </p>
   <p> Leaving: <%= @flight.departure_airport.airport_code %> </p>
   <p> Going To: <%= @flight.arrival_airport.airport_code %> </p>
   <p> Passenger Limit: <%= @num_of_passengers %> </p>

   <%= f.hidden_field :flight_id, :value => @flight.id %> <br>

        <div data-controller="add-button" data-add-button-hide-class="hide" data-add-button-max-value="<%= @num_of_passengers %>">
            <template data-nested-form-target="template">
                <%= f.simple_fields_for :passengers, Passenger.new, child_index: 'NEW_RECORD' do |sub_form| %>
                    <div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
                            <%= sub_form.text_field :name %> <br>
                            <%= sub_form.email_field :email %> <br>
                            <br>
                            <button type="button" data-action="add-button#removeCheck nested-form#remove">Remove Passenger</button>
                             <%= f.hidden_field :_destroy %>
                             <br>
                    <br>
                    </div>
                <% end %>
            </template>
            <%= f.simple_fields_for :passengers do |sub_form| %>
                    <%= sub_form.text_field :name %> <br>
                    <%= sub_form.email_field :email %> <br>
                    <% f.hidden_field :_destroy %>
                    <br>
            <% end %>
            <div data-nested-form-target="target" ></div>
            <div data-add-button-target="button">
                <button type="button" data-action="nested-form#add add-button#addCheck">Add Passenger</button>
            </div>
        </div>

    <%= f.submit %>
<% end %>